<body>
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layuiadmin-btn-rank" data-type="add">添加会员等级</button>
				</div>

				<table id="LAY-rank-back" lay-filter="LAY-rank-back"></table>
				
				<script type="text/html" id="showpriceTpl">
					{{#  if(d.show_price == 1){ }}
						<button class="layui-btn layui-btn-xs">显示</button>
					 {{#  } else { }}
						<button class="layui-btn layui-btn-primary layui-btn-xs">隐藏</button>
					 {{#  } }}
				</script>
				<script type="text/html" id="specialrankTpl">
					{{#  if(d.special_rank == 1){ }}
						<button class="layui-btn layui-btn-xs">是</button>
					 {{#  } else { }}
						<button class="layui-btn layui-btn-primary layui-btn-xs">不是</button>
					 {{#  } }}
				</script>
				<script type="text/html" id="table-rank-admin">
					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
				</script>
			</div>
		</div>
	</div>

	<script src="/static/layui/layui.js"></script>
	<script>
		layui.config({
			base: '/static/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'rank', 'table'], function() {
			var $ = layui.$,
				form = layui.form,
				table = layui.table;

			//事件
			var active = {
				add: function() {
					layer.open({
						type: 2,
						title: '添加会员等级',
						content: '{:url("rank/create")}',
						maxmin: true,
						area: ['60%', '90%'],
						btn: ['确定', '取消'],
						yes: function(index, layero) {
							var iframeWindow = window['layui-layer-iframe' + index],
								submit = layero.find('iframe').contents().find("#LAY-rank-back-submit");

							//监听提交
							iframeWindow.layui.form.on('submit(LAY-rank-back-submit)', function(data) {
								//提交 Ajax 成功后，静态更新表格中的数据
								$.ajax({
									url: '{:url("rank/create")}',
									method: 'post',
									data: data.field,
									dataType: 'JSON',
									success: function(res) {
										if (res.code == '0') {
											table.reload('LAY-rank-back'); //数据刷新
											layer.close(index); //关闭弹层
											layer.alert(res.msg);
										} else
											layer.alert(res.msg);
									},
									error: function(data) {}
								});
							});

							submit.trigger('click');
						}
					});
				}
			}
			$('.layui-btn.layuiadmin-btn-rank').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});
	</script>
</body>
