<link rel="stylesheet" type="text/css" href="/static/webuploader/css/webuploader.css">
<script type="text/javascript" src="/static/webuploader/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/webuploader/js/webuploader.min.js"></script>
<body>
	<div class="layui-form" lay-filter="layuiadmin-form-content" id="layuiadmin-form-content">
		<div class="layui-fluid" id="component-tabs">
			<div class="layui-row">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-header">
							<span class="layui-breadcrumb" lay-filter="breadcrumb" lay-separator="->" style="visibility: visible;">
								<a href="/admin/content/list.html">内容管理</a><span lay-separator="">/</span>
								<a href="{$info.id|url='content/list','cid='.###}">{$info.title}</a><span lay-separator="">/</span>
								<a><cite>编辑内容</cite></a>
							</span>
						</div>
						<div class="layui-card-body">
							<div class="layui-tab">
								<ul class="layui-tab-title">
									<li class="layui-this">基本信息</li>
									<li>详情</li>
									<li>其它信息</li>
									<li>相关内容</li>
								</ul>
								<div class="layui-tab-content">
									<div class="layui-tab-item layui-show">
										<!--基本信息-->
										<div class="layui-form-item">
											<label class="layui-form-label">标题</label>
											<div class="layui-input-block">
												<input type="text" name="title" value="{$content.title}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">副标题</label>
											<div class="layui-input-block">
												<input type="text" name="etitle" value="{$content.etitle}" placeholder="请输入副标题" autocomplete="off" class="layui-input">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">缩略图</label>
											<div class="layui-input-inline">
												<input type="text" name="pic" value="{$content.pic}" placeholder="请上传图片" autocomplete="off" class="layui-input">
											</div>
											<button style="float: left;" type="button" class="layui-btn" id="layuiadmin-upload-list">上传图片</button>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">推荐</label>
											<div class="layui-input-block">
												<input type="checkbox" {if $content['istop']==1}checked{/if} name="istop" lay-skin="primary" value="1" title="首页" />
												{foreach $categories as $category}
												<input type="checkbox" {if in_array($category.id, $content['top_arr'])}checked{/if} name="tops[]" lay-skin="primary" value="{$category.id}" title="{$category.title}" />
												{/foreach}
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">排序</label>
											<div class="layui-input-inline">
												<input type="text" name="sort" value="{$content.sort}" placeholder="0" autocomplete="off" class="layui-input">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">标签</label>
											<div class="layui-input-block">
												<input type="text" name="tag" value="{$content.tag}" placeholder="标签1，标签2，标签3(半角逗号间隔)" autocomplete="off"
												 class="layui-input">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">文章摘要</label>
											<div class="layui-input-block">
												<textarea id="description" name="description" placeholder="请输入文章摘要" class="layui-textarea">{$content.description}</textarea>
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">SEO标题</label>
											<div class="layui-input-block">
												<input type="text" name="seo_title" value="{$content.seo_title}" placeholder="请输入SEO标题" autocomplete="off" class="layui-input">
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">SEO关键词</label>
											<div class="layui-input-block">
												<textarea name="seo_keywords" placeholder="请输入SEO关键词" class="layui-textarea">{$content.seo_keywords}</textarea>
											</div>
										</div>

										<div class="layui-form-item">
											<label class="layui-form-label">SEO描述</label>
											<div class="layui-input-block">
												<textarea id="seo_description" name="seo_description" placeholder="请输入SEO描述" class="layui-textarea">{$content.seo_description}</textarea>
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">链接URL</label>
											<div class="layui-input-block">
												<input class="layui-input" type="text" name="jumpurl" value="{$content.jumpurl}" placeholder="链接URL">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">售价</label>
											<div class="layui-input-inline">
												<input type="text" name="goods_price" value="{$content.goods_price}" placeholder="请输入售价" autocomplete="off" class="layui-input">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">是否发布</label>
											<div class="layui-input-inline">
												<input type="checkbox" name="status" {if $content.status eq 1}checked{/if} lay-skin="switch" lay-filter="switchTest">
											</div>
										</div>
										<div class="layui-form-item">
											<label class="layui-form-label">更新时间</label>
											<div class="layui-input-inline">
												<input type="text" class="layui-input datetime" name="update_at" value="{$content.update_at}" id="laydate-type-noticedate" placeholder="yyyy-MM-dd HH:mm:ss" lay-key="3">
											</div>
										</div>
									</div>

									<div class="layui-tab-item">
										{$fieldhtml.html|raw}
									</div>

									<div class="layui-tab-item">
										{if !$info->typelist->isEmpty() }
										<div class="layui-form-item">
											<label class="layui-form-label">关联类型</label>
											<div class="layui-input-block">
												<select name="type_id">
													<option value="0">请选择关联类型</option>
													{foreach $info.typelist as $value}
													<option value="{$value.id}" {if condition="$value.id eq $content->type_id" }selected{/if}>{$value.title} </option>
													 {/foreach} 
												</select> 
											</div> 
										</div> 
										<div class="layui-form-item">
											<label class="layui-form-label">群组</label>
											<div class="layui-input-block">
												<input type="text" name="group" value="{$content.group}" placeholder="如:0101，0102，0103(半角逗号间隔)" autocomplete="off" class="layui-input">
											</div>
										</div>
										{/if}
										{$attrhtml.html|raw}
									</div>

									<div class="layui-tab-item">
										<!-- 相关内容 -->
										<div class="layui-form-item">
											<label class="layui-form-label">选择栏目</label>
											<div class="layui-input-inline" style="width: 400px;">
												<select lay-filter="relatedSelect">
													{volist name="catelist" id="cats"}
													<option value="{$cats.id}" {if $cats.id eq $info.id}selected{/if}>{:generate_nbsp($cats.level)} ├ {$cats.title}</option>
													{/volist}
												</select>
											</div>
										</div>
										<div class="layui-form-item">
											<div class="content-related-transfer" id="related-content"></div>
											<input type="hidden" name="related" id="related" value="{$content.related}">
											<ul id="content-related-list" style="display: none;"></ul>
										</div>
									</div>

									<div class="layui-form-item">
										<label class="layui-form-label"></label>
										<div class="layui-input-inline">
											{:token()}
											<input type="hidden" name="cid" value="{$info->id}">
											<input type="hidden" name="id" value="{$content.id}">
											<button class="layui-btn" lay-submit lay-filter="LAY-content-back-submit" id="LAY-content-back-submit">提交</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="upload-formId"></div>
		<script src="/static/layui/layui.js"></script>
		<script src="/static/ckeditor/ckeditor.js"></script>

		<script>
			layui.config({
				base: '/static/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form', 'upload', 'laydate', 'element', 'transfer'], function() {
				var $ = layui.$,
					form = layui.form,
					upload = layui.upload,
					element = layui.element,
					transfer = layui.transfer,
					laydate = layui.laydate;

				{$fieldhtml.ueditor|raw}
				{$fieldhtml.script|raw}

				function updateContent() {
					for (instance in CKEDITOR.instances) {
						CKEDITOR.instances[instance].updateElement();
					}
				}
				$('.datetime').each(function() {
					laydate.render({
						elem: this,
						trigger: 'click',
						format: 'yyyy-MM-dd HH:mm:ss'
					});
				});

				upload.render({
					elem: '#layuiadmin-upload-list',
					url: '{:url("upload/image")}',
					accept: 'images',
					method: 'post',
					acceptMime: 'image/*',
					before: function(obj) {
						layer.msg('上传中', {
							icon: 16,
							shade: 0.1,
							time: 0
						});
					},
					done: function(res) {
						layer.close(layer.msg());
						layer.alert(res.msg, {
							icon: 1,
							time: 1000
						});
						$(this.item).prev("div").children("input").val(res.data.src);
					}
				});

				//相关内容
				form.on('select(relatedSelect)', function(data) {
					var cid = data.value;
					$.ajax({
						url: '/admin/content/getRelatedList/id/{$content.id}/cid/' + cid + '.html',
						method: 'get',
						dataType: 'JSON',
						success: function(result) {
							var content_list = [{volist name = "$relatedlist" id = "related"}{if in_array($related['id'], explode(",", $content.related))}{"id": "{$related.id}","name": "{$related.name}"}, {/if}{/volist}];
							var content_id = [{$content.related}];
							$("#content-related-list li").each(function(index, text) {
								var _dataid = parseInt($(this).attr("data-id"));
								var _datatitle = $(this).attr("data-title");

								if ($.inArray(_dataid, content_id) == -1) {
									content_list.push({
										id: _dataid,
										name: _datatitle
									});
									content_id.push(_dataid);
								}

							});

							var new_arr = [];
							for (var i = 0; i < content_id.length; i++) {
								var items = content_id[i];
								if ($.inArray(items, new_arr) == -1) {
									new_arr.push(items);
								}
							}

							for (var i = 0; i < result.length; i++) {
								var _id = result[i]['id'];
								var _name = result[i]['name'];
								if ($.inArray(_id, new_arr) == -1) {
									content_list.push({
										id: _id,
										name: _name
									});
								}
							}

							transfer.render({
								elem: '#related-content',
								id: 'related',
								width: 300,
								height: 500,
								parseData: function(res) {
									return {
										"value": res.id,
										"title": res.name,
										"disabled": res.disabled,
										"checked": res.checked
									}
								},
								data: content_list,
								value: new_arr,
								title: ['商品列表', '相关商品'],
								showSearch: true,
								onchange: function(data, index) {
									var getData = transfer.getData('related');
									var list = [];
									var arr = [];
									$.each(getData, function(key, text) {
										list.push(text.value);
										arr.push('<li data-id="' + text.value + '" data-title="' + text.title + '"></li>');
									});
									list = list.join(',');
									$("#related").val(list);
									$("#content-related-list").html('');
									$("#content-related-list").html(arr);
								}
							});

						},
						error: function(data) {}
					});
				});

				transfer.render({
					elem: '#related-content',
					id: 'related',
					width: 300,
					height: 500,
					parseData: function(res) {
						return {
							"value": res.id,
							"title": res.name,
							"disabled": res.disabled,
							"checked": res.checked
						}
					},
					data: [{volist name = "$relatedlist" id = "related"}{"id": "{$related.id}","name": "{$related.name}"},{/volist}],
					value: [{$content.related}],
					title: ['相关内容', '相关内容'],
					showSearch: true,
					onchange: function(data, index) {
						var getData = transfer.getData('related');
						var list = [];
						var arr = [];
						$.each(getData, function(index, text) {
							list.push(text.value);
							arr.push('<li data-id="' + text.value + '" data-title="' + text.title + '"></li>');
						});
						list = list.join(',');
						$("#related").val(list);
						$("#content-related-list").html('');
						$("#content-related-list").html(arr);
					}
				});

				$('[lay-submit]').click(function(event) {
					updateContent();
				});

				//保存内容
				form.on('submit(LAY-content-back-submit)', function(obj) {
					//提交表单
					$.ajax({
						url: '{:url("content/edit")}',
						method: 'post',
						data: obj.field,
						dataType: 'JSON',
						success: function(res) {
							if (res.code == '0') {
								window.location.href = '/admin/content/list/cid/{$info.id}.html';
							} else
								layer.alert(res.msg);
						},
						error: function(data) {}
					});
					return false;
				});
			})
		</script>
		<script src="/static/webuploader/js/webuploader.js"></script>
</body>
