<div class="my-comment-pre">
	<div class="tab-title">
		<span>商品评价</span>
	</div>
	<div class="goods-content">
		<ul>
			<li class="hpd">
				<div class="main-color">0%</div>
				<p>好评度</p>
			</li>
			<li class="pre">
				<dl><dt>好评<span>(0%)</span></dt>
					<dd>
						<div style="width:0%"></div>
					</dd>
				</dl>
				<dl><dt>中评<span>(0%)</span></dt>
					<dd>
						<div style="width:0%"></div>
					</dd>
				</dl>
				<dl><dt>差评<span>(0%)</span></dt>
					<dd>
						<div style="width:0%"></div>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<div class="my-comment-tab">
	<ul>
		<li id="mct_0" onClick="ShowMyComments(132,0,1)" class="cur">全部评价<span>(0)</span></li>
		<li id="mct_1" onClick="ShowMyComments(132,1,1)">好评<span>(0)</span></li>
		<li id="mct_2" onClick="ShowMyComments(132,2,1)">中评<span>(0)</span></li>
		<li id="mct_3" onClick="ShowMyComments(132,3,1)">差评<span>(0)</span></li>
		<li id="mct_4" onClick="ShowMyComments(132,4,1)">用户晒单<span>(0)</span></li>
	</ul>
</div>
<div class="my-comment-list clearfix" id="MYCOMMENTS">
</div>