<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>资料库-首页</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>

<body>
<!--header Start-->
<div id="header">
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="images/logo.png"></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#">营销推广</a></li>
					<li><a href="#">品牌创意</a></li>
					<li><a href="#">手机站</a></li>
				</ul>
			</div>
			<div class="head-rt">
				<div class="hsearch">
					<form class="j-form" onsubmit="return searchForm(this);">
						<input class="j-input" type="text" name="" placeholder="请输入关键词">
						<button type="button" class="btn"></button>
					</form>
				</div>
				<a class="hlogin" href="javascript:;" onclick="login();">登录</a>
			</div>
		</div>
	</div>
</div>
<!--header end-->

<div class="breadcrumb">
	<div class="screen container">
		<span>筛选：</span>
		<a class="active" href="#">1200px</a>
		<a href="#">其他尺寸</a>
	</div>
	
</div>

<div class="box-style container">
	<dl class="column-style">
		<dt>栏目风格</dt>
		<dd>
			<ul>
				<li><a href="#">首页风格</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="#">产品综合</a></li>
				<li><a href="#">产品详情</a></li>
				<li><a href="#">案例综合</a></li>
				<li><a href="#">案例详情</a></li>
				<li><a href="#">解决方案综合</a></li>
				<li><a href="#">解决方案详情</a></li>
				<li><a href="#">视频综合</a></li>
				<li><a href="#">视频详情</a></li>
				<li><a href="#">资讯综合</a></li>
				<li><a href="#">资讯详情</a></li>
				<li><a href="#">应用案例综合</a></li>
				<li><a href="#">应用案例详情</a></li>
				<li><a href="#">知名客户综合</a></li>
				<li><a href="#">知名客户详情</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
		</dd>
	</dl>
	<dl class="layout-style">
		<dt>版块风格</dt>
		<dd>
			<ul>
				<li><a href="#">导航（头部）</a></li>
				<li><a href="#">下接效果</a></li>
				<li><a href="#">广告图（首页）</a></li>
				<li><a href="#">广告图（详情）</a></li>
				<li><a href="#">产品模块</a></li>
				<li><a href="#">案例模块</a></li>
				<li><a href="#">优势模块</a></li>
				<li><a href="#">解决方案模块</a></li>
				<li><a href="#">公司介绍模块</a></li>
				<li><a href="#">视频模块</a></li>
				<li><a href="#">知名客户</a></li>
				<li><a href="#">资讯模块</a></li>
				<li><a href="#">底部</a></li>
			</ul>
		</dd>
	</dl>
</div>
</body>
</html>