<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>资料库-列表</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/layer/layer.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>

<body>
<!--header Start-->
<div id="header">
	<div class="header">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="images/logo.png"></a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="#">营销推广</a></li>
					<li><a href="#">品牌创意</a></li>
					<li><a href="#">手机站</a></li>
				</ul>
			</div>
			<div class="head-rt">
				<div class="hsearch">
					<form class="j-form" onsubmit="return searchForm(this);">
						<input class="j-input" type="text" name="" placeholder="请输入关键词">
						<button type="button" class="btn"></button>
					</form>
				</div>
				<a class="hlogin" href="javascript:;" onclick="login();">登录</a>
			</div>
		</div>
	</div>
</div>
<!--header end-->

<div class="breadcrumb">
	<div class="location container">
		<a href="#">首页</a>&nbsp;>&nbsp;<a href="#">栏目风格</a>&nbsp;>&nbsp;<a href="#">关于我们</a>
	</div>
</div>

<div class="main-container container">
	<div class="list-database">
		<ul>
			<li>
				<a href="#">
					<div class="pic">
						<img src="images/database-listpic.jpg">
						<div class="mask">
							<div class="maskbox">
								<div class="icon"></div>
								<div class="name">查看大图</div>
							</div>
						</div>
					</div>
					<div class="title">米可网络-关于我们页面分享</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic">
						<img src="images/database-listpic1.jpg">
						<div class="mask">
							<div class="maskbox">
								<div class="icon"></div>
								<div class="name">查看大图</div>
							</div>
						</div>
					</div>
					<div class="title">米可网络-关于我们页面分享</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic">
						<img src="images/database-listpic2.jpg">
						<div class="mask">
							<div class="maskbox">
								<div class="icon"></div>
								<div class="name">查看大图</div>
							</div>
						</div>
					</div>
					<div class="title">米可网络-关于我们页面分享</div>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="pic">
						<img src="images/database-listpic1.jpg">
						<div class="mask">
							<div class="maskbox">
								<div class="icon"></div>
								<div class="name">查看大图</div>
							</div>
						</div>
					</div>
					<div class="title">米可网络-关于我们页面分享</div>
				</a>
			</li>
		</ul>
	</div>
</div>
</body>
</html>