<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name=renderer  content=webkit>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="Keywords" content="" />
		<meta name="Description" content="" />
		<title></title>
		<link href="/template/member/skin/css/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/template/member/skin/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/static/layer/layer.js"></script>
		<script type="text/javascript" src="/template/member/skin/js/common.js"></script>
		<script type="text/javascript" src="{$web_js}/common.js"></script>
	</head>
	<body>
