<div class="slidebar">
	<ul class="slide_item">
		<li class="item">
			<div class="root_node">会员中心</div>
			<ul>
				<li>
					<a class="on" href="{:buildurl('ucenter.index')}">欢迎页</a>
					<a class="" href="{:buildurl('ucenter.edit')}">用户信息</a>
					<a class="" href="{:buildurl('ucenter.address')}">收货地址</a>
					<!-- <a class="" href="account_log">资金管理</a> -->
					<!-- <a class="" href="bonus">我的红包</a> -->
					<!-- <a class="" href="vc_login">储值卡充值</a> -->
					<!-- <a class="" href="user_card">会员卡</a> -->
				</li>
			</ul>
		</li>
		<li class="item">
			<div class="root_node">交易中心</div>
			<ul>
				<li>
					<a class="" href="{:buildurl('ucenter.orderlist')}">我的订单</a>
					<!-- <a class="" href="back_list">退款/退货及维修</a> -->
					<!-- <a class="" href="my_comment">商品评价/晒单</a> -->
					<!-- <a class="" href="collection_list">商品收藏</a> -->
				</li>
			</ul>
		</li>
		<!-- <li class="item">
			<div class="root_node">服务中心</div>
			<ul>
				<li>
					<a class="" href="track_packages">跟踪包裹</a>
					<a class="" href="message_list">我的留言</a>
					<a class="" href="affiliate">我的推荐</a> 
					<a class="" href="booking_list">缺货登记</a>
					<a href="{:buildurl('logout')}">安全退出</a>
				</li>
			</ul>
		</li> -->
	</ul>
</div>