<body>
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layuiadmin-btn-attribute" data-type="add">添加新属性</button>
				</div>

				<table id="LAY-attribute-back" lay-filter="LAY-attribute-back"></table>
				<script type="text/html" id="indexTpl">
					{{#  if(d.attr_index == 0){ }}
						<span class="layui-btn layui-btn-primary layui-btn-xs">不需要检索</span>
					{{#  } else if(d.attr_index == 1) { }}
						<span class="layui-btn layui-btn-xs">关键字检索</span>
					{{#  } else if(d.attr_index == 2) { }}
						<span class="layui-btn layui-btn-normal layui-btn-xs">范围检索</span>
					{{#  } }}
				</script>
				<script type="text/html" id="linkedTpl">
					{{#  if(d.is_linked == 0){ }}
						<span class="layui-btn layui-btn-primary layui-btn-xs">不关联</span>
					{{#  } else if(d.is_linked == 1) { }}
						<span class="layui-btn layui-btn-xs">关联</span>
					{{#  } }}
				</script>
				<script type="text/html" id="typeTpl">
					{{#  if(d.attr_type == 0){ }}
						<span class="layui-btn layui-btn-xs">唯一属性</span>
					{{#  } else if(d.attr_type == 1) { }}
						<span class="layui-btn layui-btn-primary layui-btn-xs">单选属性</span>
					{{#  } else if(d.attr_type == 2) { }}
						<span class="layui-btn layui-btn-normal layui-btn-xs">复选属性</span>
					{{#  } }}
				</script>
				<script type="text/html" id="imageTpl">
					{{# if(d.is_image == 1){ }}
						<span class="layui-btn layui-btn-xs">启用相册</span>
					{{#  } else { }}
						<span class="layui-btn layui-btn-primary layui-btn-xs">无相册</span>
					{{#  } }}
				</script>
				<script type="text/html" id="table-attribute-admin">
					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
				</script>
			</div>
		</div>
	</div>

	<script src="/static/layui/layui.js"></script>
	<script>
		layui.config({
			base: '/static/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'attribute', 'table'], function() {
			var $ = layui.$,
				form = layui.form,
				table = layui.table;

			//事件
			var active = {
				add: function() {
					layer.open({
						type: 2,
						title: '添加新属性',
						content: '{:url("attribute/create")}',
						maxmin: true,
						area: ['60%', '90%'],
						btn: ['确定', '取消'],
						yes: function(index, layero) {
							var iframeWindow = window['layui-layer-iframe' + index],
								submit = layero.find('iframe').contents().find("#LAY-attribute-back-submit");

							//监听提交
							iframeWindow.layui.form.on('submit(LAY-attribute-back-submit)', function(data) {
								//提交 Ajax 成功后，静态更新表格中的数据
								$.ajax({
									url: '{:url("attribute/create")}',
									method: 'post',
									data: data.field,
									dataType: 'JSON',
									success: function(res) {
										if (res.code == '0') {
											table.reload('LAY-attribute-back'); //数据刷新
											layer.close(index); //关闭弹层
											layer.alert(res.msg);
										} else
											layer.alert(res.msg);
									},
									error: function(data) {}
								});
							});

							submit.trigger('click');
						}
					});
				}
			}
			$('.layui-btn.layuiadmin-btn-attribute').on('click', function() {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});
	</script>
</body>
