{include file="index/header"/}
            <div class="wrapRight">
                <div class="notice">
                    <h1 class="title">{:lang('step0')}</h1>
					<!--这里添加协议-->
                     <hr style="border:1px  #000 dashed">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您选择BJMCMS内容管理系统，BJMCMS是中小型门户网站建设&nbsp;解决方案之一，基于&nbsp;PHP&nbsp;+&nbsp;MySQL&nbsp;的技术开发，全部源码开放。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>BJMCMS&nbsp;的官方网址是：&nbsp;<a href="http://www.bajiaomao.com/" target="_blank">www.bajiaomao.com/</a></strong><br>
      <hr style="border:1px  #000 dashed">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#FF0000"><strong>为了使您正确并合法的使用本软件，请您在使用前务必阅读清楚下面的协议条款：&nbsp;</strong></font><br>

     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>一、本授权协议适用且仅适用于&nbsp;BJMCMS&nbsp;1.0.1&nbsp;版本，BJMCMS官方对本授权协议拥有最终解释权。</strong><br>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>二、协议许可的权利</strong><br>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.您可以在完全遵守本最终用户授权协议的基础上，将本软件应用于非商业用途，而不必支付软件版权授权费用。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.您可以在协议规定的约束和限制范围内修改&nbsp;BJMCMS&nbsp;源代码或界面风格以适应您的网站要求。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.您拥有使用本软件构建的网站全部内容所有权，并独立承担与这些内容的相关法律义务。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.获得商业授权之后，您可以将本软件应用于商业用途，同时依据所购买的授权类型中确定的技术支持内容，&nbsp;自购买时刻起，在技术支持期限内拥有通过指定的方式获得指定范围内的技术支持服务。商业授权用户享有反&nbsp;映和提出意见的权力，相关意见将被作为首要考虑，但没有一定被采纳的承诺或保证。<br />

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>三、协议规定的约束和限制</strong><br>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.未获商业授权之前，不得将本软件用于商业用途（包括但不限于企业网站、经营性网站、以营利为目的或实&nbsp;现盈利的网站）。购买商业授权请登陆www.bajiaomao.com/了解最新说明。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.未经官方许可，不得对本软件或与之关联的商业授权进行出租、出售、抵押或发放子许可证。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.不管您的网站是否整体使用&nbsp;BJMCMS&nbsp;，还是部份栏目使用&nbsp;BJMCMS，在您使用了&nbsp;BJMCMS&nbsp;的网站主页上必须保&nbsp;留模板footer.htm中相关版权信息链接。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.未经官方许可，禁止在&nbsp;BJMCMS&nbsp;的整体或任何部分基础上以发展任何派生版本、修改版本或第三方版本用于&nbsp;重新分发。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.如果您未能遵守本协议的条款，您的授权将被终止，所被许可的权利将被收回，并承担相应法律责任。<br />

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>四、有限担保和免责声明</strong><br>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.本软件及所附带的文件是作为不提供任何明确的或隐含的赔偿或担保的形式提供的。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.用户出于自愿而使用本软件，您必须了解使用本软件的风险，在尚未购买产品技术服务之前，我们不承诺对&nbsp;免费用户提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.电子文本形式的授权协议如同双方书面签署的协议一样，具有完全的和等同的法律效力。您一旦开始确认本&nbsp;协议并安装BJMCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相&nbsp;关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责&nbsp;令停止损害，并保留追究相关责任的权力。<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.如果本软件带有其它软件的整合API示范例子包，这些文件版权不属于本软件官方，并且这些文件是没经过授&nbsp;权发布的，请参考相关软件的使用许可合法的使用。<br>
     <hr style="border:1px  #000 dashed">
     <p align="center"><strong> 版权所有&nbsp;2019-2029，bajiaomao.com/&nbsp;保留所有权利。&nbsp;&nbsp;By&nbsp;www.bajiaomao.com/</strong></p>
					<!--协议结束-->
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div>
                <a class="btn btn-primary btn-large" href="<?php echo  url('install/index/index', ['step' => 2]); ?>">{:lang('agree')}{:lang('step0')}</a>
            </div>
        </div>
    </footer>
</body>
</html>